./*/__pycache__
./*/venv
.git
.github
./*/env.example
./*/.vscode
./*/node_modules
.gitignore
./CONTRIBUTING.md
./docker-compose.yml
./*/docker-compose.yml
./Dockerfile
./Dockerfile.dev
./Dockerfile.prebuilt
./LICENSE
./README.md
./*/README.*
./dev.sh
./cli
./backend/analytics_server/mhq/config/config.ini
