DB_HOST=dora_db_host
DB_NAME=dora_db_name
DB_PASS=dora_db_pass
DB_PORT=dora_db_port
DB_USER=dora_db_user
REDIS_HOST=dora_redis_host
REDIS_PORT=dora_redis_port
ANALYTICS_SERVER_PORT=5000
SYNC_SERVER_PORT=5001