Flask==3.0.2
voluptuous==0.12.2
stringcase==1.2.0
SQLAlchemy==2.0.29
pytz==2022.1
PyGithub==1.55
pycryptodome==3.19.1
aiohttp==3.9.4
redis==5.0.3
python-redis-lock==4.0.0
psycopg2==2.9.3
python-dotenv==1.0.1
gunicorn==23.0.0
Flask-SQLAlchemy==3.1.1
